<main>
    <h1>Поиск</h1>
</main>
<div>
    <div class="nav">

        <div style="margin: 40px 40px 0;">
            с <input type="date" name="" id="">
            по <input type="date" name="" id="">
            <input style="margin-left:10px;" type="text" placeholder="тг_логин">
        </div>
        <input style="margin: 5px 40px 0;" type="button" value="поиск">
    </div>
    <div class="spisok">
        <table class="table_search">
            <colgroup>
                <col span="1" style="background:Khaki">
                <!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
                <col span="3" style="background-color:LightCyan">
                <!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
            </colgroup>
            <tr>
                <th>№ п/п</th>
                <th class="th_info">логин</th>
                <th class="th_info">что исп.</th>
                <th class="th_info">время</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Карандаш цветной</td>
                <td>20,00</td>
                <td>20,00</td>
            </tr>
        </table>
    </div>
</div>