<main>
    <h1>Пользователи</h1>
</main>
<div class="block">
    <table>
        <tr>
            <td>Номер</td>
            <td>Логин</td>
            <td>Дата регистрации</td>
            <td>Дата удаления</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Серж</td>
            <td>01.02</td>
            <td>01.12</td>
        </tr>
    </table>
</div>